# ============================================================
#  SERVER (WHOAMI_404 Panel) – Flask + Socket.IO + SQLAlchemy
# ============================================================
Flask>=3.1.0
Werkzeug>=3.1.0
Flask-SocketIO>=5.6.0
Flask-SQLAlchemy>=3.0.5
Flask-Limiter>=3.3.1
Flask-WTF>=1.2.0
bcrypt>=4.0.1
pyotp>=2.8.0
python-dotenv>=1.0.0
requests>=2.31.0
cryptography>=41.0.0
SQLAlchemy>=2.0.23
WTForms>=3.0.1
gunicorn>=21.2.0